#main {
  width: 1089px;
  height: 455px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

input {
  width: 991px;
  height: 33px;
  background-color: #515151;
  color: #d9d9d9;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

#enviar {
  width: 634px;
  height: 40px;
  background-color: #FFFF52;
  color: #000000;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  margin-top: 18px;
  cursor: pointer;
  margin-left: 180px;
}