#datas {
  display: flex;
  margin-bottom: 10px;
}

.boxes {
  width: 366px;
  height: 110px;
  background-color: #d9d9d9;
  margin-right: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#opcoes {
  margin-bottom: 22px;
}

.opcao {
  width: 1090px;
  height: 60px;
  background-color: #d9d9d9;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.vermelho {
  width: 55px;
  height: 30px;
  background-color: #b76e6e;
  margin-right: 500px;
  cursor: pointer;
  transition: 0.2s;
}

.vermelho:hover {
  background-color: #da1f1f;
}

.cinza {
  width: 465px;
  height: 30px;
  background-color: #534848;
}

a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  width: 644px;
  height: 60px;
  background-color: #ffff52;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  transition: 0.2s;
}

a:hover {
  background-color: orangered;
  font-size: 20px;
}
