#container {
  width: 1115px;
  height: 301px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resumo {
  width: 1056px;
  height: 62px;
  background-color: #757373;
  text-align: center;
  margin-top: 22px;
}

#info {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

#valor-aport {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#data {
  width: 306px;
  height: 125px;
  background-color: #746d6d;
  margin-right: 151px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.retangulo {
  width: 596px;
  height: 49px;
  background-color: #4f4e4e;
  margin-bottom: 14px;
  text-align: center;
}

#confirmar {
  width: 1003px;
  height: 45px;
  background-color: #ffff52;
  margin-top: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

#confirmar:hover {
  background-color: orangered;
}

#confirmar:active {
  background-color: #ffff52;
}

footer {
  width: 1115px;
  height: 130px;
  background-color: #ffff52;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
