@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100;0,9..144,200;0,9..144,300;0,9..144,400;0,9..144,500;0,9..144,600;0,9..144,700;0,9..144,800;0,9..144,900;1,9..144,100;1,9..144,200;1,9..144,300;1,9..144,400;1,9..144,500;1,9..144,600;1,9..144,700;1,9..144,800;1,9..144,900&family=Inter&display=swap");

html {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #8e8e8e;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
}

nav {
  margin-bottom: 25px;
  width: 1160px;
  height: 87px;
  background-color: #ffff52;
  display: flex;
  align-items: center;
  justify-content: center;
}

#icon {
  color: #6f6e6e;
  margin-right: 900px;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

#container {
  width: 1115px;
  height: 301px;
  background-color: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#resumo {
  width: 1056px;
  height: 62px;
  background-color: #757373;
  text-align: center;
  margin-top: 22px;
}

#info {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

#valor-aport {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#data {
  width: 306px;
  height: 125px;
  background-color: #746d6d;
  margin-right: 151px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.retangulo {
  width: 596px;
  height: 49px;
  background-color: #4f4e4e;
  margin-bottom: 14px;
  text-align: center;
}

#confirmar {
  width: 1003px;
  height: 45px;
  background-color: #ffff52;
  margin-top: 14px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  border: none;
  cursor: pointer;
}

#confirmar:hover {
  opacity: 0.8;
  box-shadow: 0 5px 0 #4f4e4e;
}

#confirmar:active {
  box-shadow: none;
}

footer {
  width: 1115px;
  height: 130px;
  background-color: #ffff52;
  margin-top: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
